<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopción de Mascotas</title>
    <link rel="stylesheet" th:href="@{/CSS/estilo.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<nav>
        <ul class="menu-horizontal">
            <li><a href="/">INICIO</a></li>
            <li><a href="/somos">QUIENES SOMOS</a></li>
            <li>
                <a href="/adopcion">MANTENIMIENTO</a>
                <ul class="menu-vertical">
                    <li><a href="/agregar">AGREGAR MASCOTA</a></li>
                </ul>
            </li>
			<li>
				<a href="/contactanos">CONTACTANOS</a>
            
            </li>
        </ul>
    </nav>
	<section id="quienes-somos">
		           <div class="container">
			           <h2>Quienes Somos</h2>
					       <p>Somos un grupo de estudiantes apasionados por los animales y queremos ayudar a encontrarles un hogar. Nos dedicamos a rescatar y buscar nuevas familias para perros y gatos que necesitan amor y 
							cuidados.</p>
					       <p>Trabajamos en equipo, colaborando con refugios y veterinarios, para asegurarnos de que cada mascota esté sana y feliz antes de ir a su nuevo hogar.
							 Todos nosotros somos voluntarios, y aunque no somos profesionales, ponemos todo nuestro esfuerzo y cariño en cada paso que damos.</p>
					       <p>Nos encantaría que te sumes a nuestra iniciativa. Puedes adoptar una mascota, hacer una donación, o incluso unirte a nosotros como voluntario. Cada
							 pequeña acción cuenta y, con tu ayuda, podemos hacer una gran diferencia en la vida de estos animales.</p>
					   </div>
		   </section>
		   <section id="personas-ayuda">
		           <div class="container">
		               <h2>Personas que han ayudado</h2>
		               <div class="ayuda-cuadros">
		                   <div class="cuadro">
		                       <img src="../imagen/pupo.jpeg" alt="Persona 1">
		                       <p>Diego Arturo Enriquez Pupo</p>
		                   </div>
		                   <div class="cuadro">
		                       <img src="../imagen/perfil.jpg" alt="Persona 2">
		                       <p>Fazz Escurra Marcelo</p>
		                   </div>
		                   <div class="cuadro">
		                       <img src="../imagen/perfil.jpg" alt="Persona 3">
		                       <p>Rober Ivan Alva Caro</p>
		                   </div>
		                   <div class="cuadro">
		                       <img src="../imagen/perfil.jpg" alt="Persona 4">
		                       <p>Andrés Martín López Leandro</p>
		                   </div>
						   <div class="cuadro">
						       <img src="../imagen/perfil.jpg" alt="Persona 5">
						       <p>Jhans</p>
						   </div>
		               </div>
		           </div>
		       </section>
	
	
	
	
	
	
	</body>
	</html>